<div id="view-fight" style="display:none;">
  <h4>FIGHT !</h4>
  <canvas id="fight" width="480" height="320">
    <div style="display:none;">
      <img id="img-pokemon-dresseur" src="../Vue/assets/img/65.png" width="96" height="96">
      <img id="img-pokemon-opponent" src="../Vue/assets/img/4.png" width="96" height="96">
    </div>
  </canvas>
  <script type="text/javascript" src="../Vue/app/ressources/pokemon.js"></script>
  <script type="text/javascript" src="../Vue/app/ressources/dresseur.js"></script>
  <script type="text/javascript" src="../Vue/app/app.js"></script>

  <div class="row"><p>Liste des attaques :</p></div>
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-primary btn-block" onclick="attack(1);">Charge</button>
      <button type="button" class="btn btn-primary btn-block" onclick="attack(2);">Eclair</button>
      <button type="button" class="btn btn-primary btn-block" onclick="attack(3);">Morsure</button>
    </div>
  </div>

  <script>
    function attack(id){
      $.post(
          '../Controller/Fight.php',
          {
              attack : id
          },
          result_attack,
          'JSON'
      );
    }

    function result_attack(result){
      // Mock
      opponent.team[opponent.pokemonActif].takeDamage(result.damage);
      dresseur.team[dresseur.pokemonActif].attacking=true;
      setTimeout(function () {
        dresseur.team[dresseur.pokemonActif].takeDamage(result.damage);
        opponent.team[opponent.pokemonActif].attacking=true;
      }, 500);
    }
  </script>
</div>
