<div id="view-fight" style="display:none;">
  <h4>FIGHT !</h4>
  <div class="row">
    <div class="col col-xs-12 col-md-9 col-lg-7">
      <canvas id="fight" width="480" height="320">
        <div style="display:none;">
          <img id="img-pokemon-dresseur" src="" width="96" height="96">
          <img id="img-pokemon-dresseur-1" src="" width="96" height="96">
          <img id="img-pokemon-dresseur-2" src="" width="96" height="96">
          <img id="img-pokemon-dresseur-3" src="" width="96" height="96">
          <img id="img-pokemon-opponent" src="" width="96" height="96">
          <img id="img-pokemon-opponent-1" src="" width="96" height="96">
          <img id="img-pokemon-opponent-2" src="" width="96" height="96">
          <img id="img-pokemon-opponent-3" src="" width="96" height="96">
        </div>
      </canvas>
      <script type="text/javascript" src="../Vue/app/ressources/attack.js"></script>
      <script type="text/javascript" src="../Vue/app/ressources/pokemon.js"></script>
      <script type="text/javascript" src="../Vue/app/ressources/dresseur.js"></script>
      <script type="text/javascript" src="../Vue/app/app.js"></script>
    </div>
    <div class="col col-xs-12 col-md-3 col-lg-5">
      <h5>Liste des attaques :</h5>
      <button type="button" id="attack-button-1" class="btn btn-primary btn-block attack-button" onclick="attack(0);"></button>
      <button type="button" id="attack-button-2" class="btn btn-primary btn-block attack-button" onclick="attack(1);"></button>
      <button type="button" id="attack-button-3" class="btn btn-primary btn-block attack-button" onclick="attack(2);"></button>
    </div>
  </div>
  <h5>Informations du combat :</h5>
  <div id="log"></div>

  <script>
    function attack(id){
      // Disables attack's buttons
      $('.attack-button').attr('disabled', 'disabled');

      // Generates turn
      $.post(
          '../Controller/Fight.php',
          {
              attack : id
          },
          result_attack,
          'JSON'
      );
    }

    function result_attack(result){
      // Handling result battle
      opponent.team[opponent.pokemonActif].hp = result.opponent.hp;
      dresseur.team[dresseur.pokemonActif].attacking=true;
      logAttack(dresseur.team[dresseur.pokemonActif].name, result.dresseur.attackUsed);

      // Oppenent switch if he's dead
      if(result.opponent.nextPokemon){
        logDeath(opponent.team[opponent.pokemonActif].name);
        opponent.pokemonActif = result.opponent.nextPokemon;
        logSwitch(opponent.team[opponent.pokemonActif].name);
      }

      // Opponent attack
      setTimeout(function () {
        dresseur.team[dresseur.pokemonActif].hp = result.dresseur.hp;
        opponent.team[opponent.pokemonActif].attacking=true;
        logAttack(opponent.team[opponent.pokemonActif].name, result.opponent.attackUsed);

        // Dresseur switch if he's dead
        if(result.dresseur.nextPokemon){
          logDeath(dresseur.team[dresseur.pokemonActif].name);
          dresseur.pokemonActif = result.dresseur.nextPokemon;
          logSwitch(dresseur.team[dresseur.pokemonActif].name);

          // Switch attacks
          $('#attack-button-1').html(dresseur.team[dresseur.pokemonActif].attacks[0].name+' ('+dresseur.team[dresseur.pokemonActif].attacks[0].damage+')');
          $('#attack-button-2').html(dresseur.team[dresseur.pokemonActif].attacks[1].name+' ('+dresseur.team[dresseur.pokemonActif].attacks[1].damage+')');
          $('#attack-button-3').html(dresseur.team[dresseur.pokemonActif].attacks[2].name+' ('+dresseur.team[dresseur.pokemonActif].attacks[2].damage+')');
        }

        setTimeout(function () {
          // Enables attack's buttons
          $('.attack-button').removeAttr('disabled');
        }, 500);
      }, 500);
    }

    function logAttack(pokemon, attack){
      let str = '<span><b>'+pokemon+"</b> utilise l'attaque <b>"+attack.name+"</b> et inflige <b>"+attack.damages+"</b> dégâts.</span><br />";
      $('#log').append(str);
      autoScrollLog();
    }

    function logDeath(pokemon){
      let str = "<span><b>"+pokemon+" est KO.</b></span><br />";
      $('#log').append(str);
      autoScrollLog();
    }

    function logSwitch(pokemon){
      let str = "<span><b>"+pokemon+" entre dans le combat.</b></span><br />";
      $('#log').append(str);
      autoScrollLog();
    }

    function autoScrollLog(){
      var height = 0;
      $('#log span').each(function(i, value){
          height += parseInt($(this).height());
      });
      height += '';
      $('#log').animate({scrollTop: height});
    }
  </script>
</div>
