<div id="view-pseudo" style="display:inline;">
  <h4>Brave dresseur,</h4>
  <form action="" onsubmit="submit" id="form-pseudo" method="post">
    <div class="form-group">
      <label for="name">saisissez votre nom :</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Nom">
    </div>
    <button type="submit" name="form-pseudo" class="btn btn-primary">Let's go !</button>
  </form>
  <script>
    $('#form-pseudo').submit(function(e){
      e.preventDefault();
      $.post(
        '../Controller/Pseudo.php',
        {
          name : $("#name").val()
        },
        api_result_pseudo,
        'JSON'
      );
    });

    function api_result_pseudo(result){
      // Handling result
      dresseur.name = result.dresseur.username;
      $.each(result.dresseur.Dresseurpokemons, function( index, p ) {
        dresseur.pokemon.push(new Pokemon(p.idPokemon, p.name, p.hp, p.img, p.xp));
      });

      result.dresseur.Dresseurpokemons;
      dresseur.isNewPlayer = result.isNewPlayer;
      opponent.name = result.opponent.username;
      $.each(result.opponent.Dresseurpokemons, function( index, p ) {
        opponent.pokemon.push(new Pokemon(p.idPokemon, p.name, p.hp, p.img, p.xp));
      });

      // Prepares next page
      $('#displayDresseurName').html(dresseur.name);
      if(dresseur.isNewPlayer){
        $('#displayTextNewPlayer1').html("rencontrer");
        $('#displayTextNewPlayer2').html("Choisis");
      }else{
        // Disables and sets <select>
        $('#select_pokemon1').attr('disabled', 'disabled');
        $('#select_pokemon2').attr('disabled', 'disabled');
        $('#select_pokemon3').attr('disabled', 'disabled');
        $('#select_pokemon1').val(6/*dresseur.Dresseurpokemons[0]*/).attr('selected', 'selected');
        $('#select_pokemon2').val(2/*dresseur.Dresseurpokemons[0].*/).attr('selected', 'selected');
        $('#select_pokemon3').val(5).attr('selected', 'selected');
      }

      // Switch page
      $('#view-pseudo').hide();
      $('#view-selectPokemon').show();
    }
  </script>
</div>
