<div id="view-selectPokemon" style="display:none;">
  <h4>Heureux de te <span id="displayTextNewPlayer1">revoir</span> <span id="displayDresseurName">DRESSEUR NAME</span> !</h4>
  <h5><span id="displayTextNewPlayer2">Voici</span> ton équipe :</h5>
  <form action="" onsubmit="submit" id="form-select" method="post">
    <div class="form-group row">
      <label for="pokemon1" class="col-sm-2 col-form-label">Pokemon 1</label>
      <div class="col-sm-10">
        <select class="form-control" id="pokemon1">
          <option>Pikachu</option>
          <option>Salamèche</option>
          <option>Carapuce</option>
          <option>Poissirène</option>
          <option>Goupix</option>
        </select>
      </div>
    </div>
      <div class="form-group row">
        <label for="pokemon2" class="col-sm-2 col-form-label">Pokemon 2</label>
        <div class="col-sm-10">
          <select class="form-control" id="pokemon2">
            <option>Pikachu</option>
            <option>Salamèche</option>
            <option>Carapuce</option>
            <option>Poissirène</option>
            <option>Goupix</option>
          </select>
        </div>
      </div>
        <div class="form-group row">
          <label for="pokemon3" class="col-sm-2 col-form-label">Pokemon 3</label>
          <div class="col-sm-10">
            <select class="form-control" id="pokemon3">
              <option>Pikachu</option>
              <option>Salamèche</option>
              <option>Carapuce</option>
              <option>Poissirène</option>
              <option>Goupix</option>
            </select>
          </div>
        </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" name="form-select" class="btn btn-primary">Let's fight !</button>
      </div>
    </div>
  </form>

  <script>
    $('#form-select').submit(function(e){
      e.preventDefault();
      $.post(
        '../Controller/SelectPokemon.php',
        {
          id : [$("#pokemon1").val(), $("#pokemon2").val(), $("#pokemon3").val()]
        },
        api_result_select,
        'JSON'
      );
    });

    function api_result_select(result){
      // Handling result
      // TODO
      //dresseur = result.dresseur;

      // Switch page
      $('#view-selectPokemon').hide();
      $('#view-fight').show();
    }
  </script>
</div>
