<?php
  $pokemonHtmlSelect = "";
  foreach ($_SESSION['pokemonList'] as $pokemon){
    $pokemonHtmlSelect .= '<option value="'.$pokemon["id_pokemon"].'">'.$pokemon["french_name"].'</option>';
  }
?>
<div id="view-selectPokemon" style="display:none;">
  <h4>Heureux de te <span id="displayTextNewPlayer1">revoir</span> <span id="displayDresseurName">DRESSEUR NAME</span> !</h4>
  <h5><span id="displayTextNewPlayer2">Voici</span> ton équipe :</h5>
  <form action="" onsubmit="submit" id="form-select" method="post">
    <fieldset>
      <div class="form-group row">
        <label for="pokemon1" class="col-sm-2 col-form-label">Pokemon 1</label>
        <div class="col-sm-10">
          <select class="form-control" id="select_pokemon1">
            <?php
              echo $pokemonHtmlSelect;
            ?>
          </select>
        </div>
      </div>
        <div class="form-group row">
          <label for="pokemon2" class="col-sm-2 col-form-label">Pokemon 2</label>
          <div class="col-sm-10">
            <select class="form-control" id="select_pokemon2">
              <?php
                echo $pokemonHtmlSelect;
              ?>
            </select>
          </div>
        </div>
          <div class="form-group row">
            <label for="pokemon3" class="col-sm-2 col-form-label">Pokemon 3</label>
            <div class="col-sm-10">
              <select class="form-control" id="select_pokemon3">
                <?php
                  echo $pokemonHtmlSelect;
                ?>
              </select>
            </div>
          </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" name="form-select" class="btn btn-primary">Let's fight !</button>
        </div>
      </div>
    </fieldset>
  </form>
  <script>
    $('#form-select').submit(function(e){
      e.preventDefault();
      $.post(
        '../Controller/SelectPokemon.php',
        {
          id : [$("#select_pokemon1").val(), $("#select_pokemon2").val(), $("#select_pokemon3").val()]
        },
        api_result_select,
        'JSON'
      );
    });

    function api_result_select(result){
      // Handling result
      $.each(result.dresseur.pokemons, function( index, p ) {
        dresseur.team.push(new Pokemon(p.idPokemon, p.name, p.hp, p.img, p.xp, p.attack));
      });

      // Init Battle
      isBattleStarted=true;
      console.log(dresseur);
      console.log(opponent);
      $('#attack-button-1').html(dresseur.team[dresseur.pokemonActif].attacks[0].name+' ('+dresseur.team[dresseur.pokemonActif].attacks[0].damage+')');
      $('#attack-button-2').html(dresseur.team[dresseur.pokemonActif].attacks[1].name+' ('+dresseur.team[dresseur.pokemonActif].attacks[1].damage+')');
      $('#attack-button-3').html(dresseur.team[dresseur.pokemonActif].attacks[2].name+' ('+dresseur.team[dresseur.pokemonActif].attacks[2].damage+')');

      // Switch page
      $('#view-selectPokemon').hide();
      $('#view-fight').show();
    }
  </script>
</div>
